.reservation {
  padding: 100px 0 215px;
  background: #D9E7FF url(../images/background_reservation.svg) no-repeat center/cover;
}

.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000;
}

.reservation__form {
  margin: 0 auto;
  padding: 120px;
}
